body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
      margin: 0;
      padding: 0;
    }

    /* Cabeçalho superior azul */
    .header-top {
      background-color: #1e73be;
      color: white;
      padding: 20px;
      position: relative;
      height: 80px;
    }

    /* Título centralizado */
    .header-top h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 28px;
      margin: 0;
    }

    /* Logo à esquerda */
    .header-top img {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
    }

    .container {
      width: 90%;
      margin: 50px auto;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 18px;
    }

    th, td {
      padding: 20px;
      text-align: left;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    th {
      background-color: #1e73be;
      color: white;
      text-align: center;
    }

    td {
      background-color: #f9f9f9;
    }

    tr:nth-child(even) td {
      background-color: #f1f1f1;
    }

    .status-resolvido {
      color: green;
      font-weight: bold;
    }

    .status-pendente {
      color: red;
      font-weight: bold;
    }

    .status-em-analise {
      color: orange;
      font-weight: bold;
    }

    .status {
      display: flex;
      align-items: center;
    }

    .status span {
      margin-left: 10px;
      font-size: 16px;
    }

    .status img {
      width: 20px;
      height: 20px;
    }