* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #444; /* tom acinzentado escuro como na imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.container {
  background-color: #f7f7f7;
  padding: 40px 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   border: 5px solid #ccc6c6; 
}

.logo {
  display: block;
  margin: 0 auto 15px;
  width: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}

.empresa-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0082FB;
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: bold;
  cursor: default;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #333;
  outline: none;
  font-size: 14px;
}

.esqueceu {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #555;
  margin-bottom: 15px;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #057AE6;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 20px 0 10px;
  color: #888;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin: 0 5px;
}

.criar-conta {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.criar-conta a {
  color: #007bff;
  text-decoration: none;
}