:root {
    --min-size: 44px;

    --border-radius-padrao: 10px;

    --padding-padrao: 1.5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;

    margin: 0;
    
    margin-left: 3svh;
    margin-right: 3svh;
}

#main-header {
    width: 10%;

    margin-left: 1vw;
}

main {
    width: 90%;
}




/* Icones */
.lixo {
    min-width: var(--min-size);
    min-height: var(--min-size);

    width: 3svh;
    height: 3svh;

    background-image: url(../../assets//icones/trashfull.svg);
    background-size: cover;
    background-color: transparent;
    border: 0;
}


/* Fim icones */




/* Mobile */
@media (max-width: 650px) {
    #main-header {
        width: 100vw;
        order:-1;
    }

    body {
        flex-wrap: wrap;
    }
}