:root {
    --min-size: 44px;

    --border-radius-padrao: 10px;

    --padding-padrao: 1.5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --corAzulPadrao: #007BFF;

    --corBackground: #FFC107;
}

body {
    display: flex;

    margin: 0;
    
    margin-left: 3svh;
    margin-right: 3svh;
}

#main-header {
    width: 10%;
    height: 100svh;
    min-width: fit-content;

    margin-left: 1%;
    padding-left: 0.5%;
    border-left: 2.5px solid #777;

    display: flex;
    flex-direction: column;

    & img {
        min-width: var(--min-size);
        min-height: var(--min-size);

        height: 6svh;
        width: 6svh;

        align-self: end;
    }

    & a {
        color:black;
        font-size: 1.5rem;
        font-weight: bolder;

        margin-top: 1.5svh;
    }
}

main {
    width: 90%;
}

.show-flex {
    display: flex;
}   

button {
    background-color: var(--corAzulPadrao);
    border: 0;
}


/* Icones */
.lixo {
    min-width: var(--min-size);
    min-height: var(--min-size);

    width: 3svh;
    height: 3svh;

    background-image: url(../../assets//icones/trashfull.svg);
    background-size: cover;
    background-color: transparent;
    border: 0;
}


/* Fim icones */




/* Responsividade */
@media (max-width: 1200px) {

}

@media (max-width: 650px) {
    #main-header {
        width: 100vw;
        order:-1;
        height: fit-content;

        margin-left: 0;
        padding-left: 0;
        border: 0;
        border-bottom: 2.5px solid #777;

        & img {
            align-self: auto;
        }
    }

    body {
        flex-wrap: wrap;
    }
}