#Snotificacoes > .header {
    display: flex;
    flex-direction:row;

    justify-content: space-between;
    align-items: center;

    & > div {
        display: flex;
        flex-direction: row;

        gap: 1vw;
    }
}

#Snotificacoes > #pop-up {
    display: flex;
    display: none;
    
    position: absolute;
    top: 40%;
    left: 50%;

    padding: var(--padding-padrao);
    border-radius: var(--border-radius-padrao);
    flex-direction: column;
    

    transform: translate(-50%, -50%);

    background-color: gray;

    

    & > button {
        height: 2.5rem;
        font-size: 2rem;
        font-weight: bolder;
        border-radius: var(--border-radius-padrao);
        border: 0;
    }

    & > h1 {
        text-align: center;
    }

    & textarea {
        font-size: 1.2rem;
    }
}

.square-button {

    min-width: var(--min-size);
    min-height: var(--min-size);

    width: 5svh;
    height: 5svh;

    border-radius: var(--border-radius-padrao);

    font-size: 2rem;
}

#sec-notificacoes > .notificacao {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding-right:var(--padding-padrao);

    background-color: var(--corBackground);

    border-radius: var(--border-radius-padrao);

    margin-bottom: var(--padding-padrao);
}

.botoes {
    display: flex;
    flex-direction: row;
}


.identificacao {
    padding-left: var(--padding-padrao);
}

.dropdown-button {
    width:76.42px;
    min-width: fit-content;

    border: 0;

    border-radius: var(--border-radius-padrao);
    font-weight: bolder;

}

.dropdown-button[title='Ativa'] {
    background-color: rgb(238, 44, 10);
}

.dropdown-button[title='Concluida'] {
    background-color: rgb(20, 128, 20);
}

.dropdown-button[title='Manut.'] {
    background-color: rgb(10, 115, 185);
}

.dropdown-conteudo {
    display: none;

    position: absolute;
    transform: translateY(50%);

    flex-direction: column;

    background-color: var(--corBackground);

}

.dropdown-conteudo button {
    height: 1.8rem;
    background-color: var(--corAzulPadrao);
    border: 0;

    color: white;
    

    &:hover {
        background-color: #777;
        border: 0;
    }
}





.descricao {
    max-width: max-content;
    margin: 0 1%;
}



/* Mobile */
@media (max-width: 650px) {
    #Snotificacoes > .header {
        flex-direction: column;
    }

    main#Snotificacoes {
        width: 100%;
    }

    #sec-notificacoes .notificacao {
        flex-direction: column;
    }

    .identificacao p {
        text-align: center;
    }
    .identificacao p:first-child {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .descricao {
        font-weight: bold;
        max-width: max-content;
        margin: 0 1%;
    }

    .botoes {
        justify-content: space-between;
        width: 80%;
        padding-bottom: var(--padding-padrao);
    }
}

@media (max-width: 450px) {

    body {
    margin-left: 0px;
    margin-right: 0px;
    }

    .notificacao {
        width: 100%;
    }

    
}